body{
    background-color: red;
}

ul{
    width: 100%;
    list-style: none;
}

.conter-menu{
    background-color: red;
    display: flex;
}

.conter-menu .menu {
    display: flex;
    justify-content: center;
    empty-cells: inherit; }

.conter-menu .menu li a {
    color: white;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    min-width: 100px;
    font-family: 'Comic Neue', cursive; 
}

.redes {
    display: flex;
    justify-content: center;
    empty-cells: inherit;
    background-color: red;
}